appnope==0.1.2
google-cloud-secret-manager
attrs==20.3.0
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
decorator==4.4.2
dill==0.3.3
docker==4.4.1
empyrical==0.5.5
eventkit==0.8.6
ib-insync==0.9.64
idna==2.10
iniconfig==1.1.1
ipython==7.20.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.0
kiwisolver==1.3.1
lxml==4.6.2
matplotlib==3.3.4
nest-asyncio==1.5.1
numexpr==2.7.2
numpy==1.20.1
packaging==20.9
pandarallel==1.5.2
pandas==1.2.1
pandas-datareader==0.9.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pluggy==0.13.1
prompt-toolkit==3.0.14
ptyprocess==0.7.0
py==1.10.0
pyfolio==0.9.2
Pygments==2.7.4
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
pyzmq==22.0.3
QuantLib==1.21
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
seaborn==0.11.1
six==1.15.0
sklearn==0.0
tables==3.6.1
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.56.0
traitlets==5.0.5
urllib3==1.26.3
wcwidth==0.2.5
websocket-client==0.57.0
zmq==0.0.0
